In [1]:
#Required imports for the project
import requests # for api requests
import pandas as pd #tabular data

In [2]:
api_key = "07e7023663c44b8f1179b4918403f04506e6264b"

In [3]:
#creating a dataframe function
def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])
#

In [4]:
#Setting up the API Query parameters for the 
params1 = {"NAICS2017" : 61}

In [5]:
#Requesting the json file from the census website using the api key
url = "https://api.census.gov/data/2017/ecnbasic?get=NAICS2017_LABEL,NAICS2017,GEO_ID,FIRM&for=county:*&key={}".format(api_key)
response = requests.request("GET", url, params=params1)

In [6]:
response.text[0:77]

'[["NAICS2017_LABEL","NAICS2017","GEO_ID","FIRM","NAICS2017","state","county"]'

In [7]:
#Converting ecn data frame into pandas data frame
educational_services = json_to_dataframe(response)
df = pd.DataFrame(data = educational_services)
df['FIRM'] = df['FIRM'].astype(int)
df['state'] = df['state'].astype("string")
df_california1 = df[df['state'] == '06']

In [8]:
# Top 5 counties with largest number of educational services
df_c_sort = df_california1\
.sort_values(by=['FIRM'], ascending=False)\
.head(10)
print('Top 10 counties with the most amount of educational services in California')
df_c_sort

Top 10 counties with the most amount of educational services in California

,NAICS2017_LABEL,NAICS2017,GEO_ID,FIRM,NAICS2017,state,county
299,Educational services,61,0500000US06037,2787,61,06,037
315,Educational services,61,0500000US06059,1187,61,06,059
330,Educational services,61,0500000US06073,1010,61,06,073
302,Educational services,61,0500000US06085,822,61,06,085
233,Educational services,61,0500000US06001,693,61,06,001
238,Educational services,61,0500000US06075,470,61,06,075
234,Educational services,61,0500000US06067,334,61,06,067
319,Educational services,61,0500000US06081,323,61,06,081
300,Educational services,61,0500000US06065,313,61,06,065
227,Educational services,61,0500000US06013,295,61,06,013

In [9]:
#Setting the params
params2 = {"state" : "06"}

In [10]:
#Getting the ACS data
#Requesting the json file from the census website using the api key 
url = "https://api.census.gov/data/2017/acs/acs1/profile?get=DP02_0064PE,DP02_0088PE,DP02_0123PE&for=county&key={}".format(api_key)
response2 = requests.request("GET", url)

In [11]:
#Seeing what the columns for the data are
response2.text[0:61]
#Meaning of variables
#DP02_0064PE = Percent!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree
#DP02_0088PE = Percent!!PLACE OF BIRTH!!Total population!!Native!!Born in United States 
#DP02_0123PE = Percent!!ANCESTRY!!Total population!!American

'[["DP02_0064PE","DP02_0088PE","DP02_0123PE","state","county"]'

In [12]:
pop_chars = json_to_dataframe(response2)
df = pd.DataFrame(data = pop_chars)
df_california2 = df[df['state'] == '06']

In [13]:
#Merging the two datasets
merged_census = pd.merge(df_california1, df_california2, on='county')
merged_census.head()

,NAICS2017_LABEL,NAICS2017,GEO_ID,FIRM,NAICS2017,state_x,county,DP02_0064PE,DP02_0088PE,DP02_0123PE,state_y
0,Educational services,61,0500000US06047,13,61,06,047,8.7,74.4,1.7,06
1,Educational services,61,0500000US06033,8,61,06,033,9.5,91.8,2.3,06
2,Educational services,61,0500000US06115,0,61,06,115,13.9,85.4,2.1,06
3,Educational services,61,0500000US06013,295,61,06,013,26.7,72.9,2.7,06
4,Educational services,61,0500000US06099,71,61,06,099,12.0,77.3,3.0,06